/* style.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('image.png');
}

.rubik-wet-paint-regular {
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff9a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-family:  "Rubik Wet Paint", serif;
    font-size: 48px;
    letter-spacing: 2px;
    color: #025adf;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    color: #0f83ff;
}

input[type="text"] {
    width: calc(100% - 140px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    padding: 25px;
    background-color: #d8d8d84a;
    border-radius: 5px;
    text-align: left;
    line-height: 2.0;
}

.url-image {
    margin-top: 0px;
    max-width: 50%;
    border-radius: 10px;
}


.footer {
    background-color: #e6e6e656;
    color: #7a7a7a;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.bold-red {
    font-weight: bold;
    color: red;
}

.bold-green {
    font-weight: bold;
    color: green;
}
